.box {
  border: 2px solid navy;
  border-radius: 10px; /*둥글래미*/
  /*css의 단위: 
  - px(고정값/브라우저의 확장 여부와 관계 없이 고정되는 값을 가짐)
  - %(부모 요소의 넓이만큼을 따라감 body의 n%를 따라가라. 반응형 web 만들 때 많이 쓰임)
   */
  width: 200px;
  height: 100px;
  background: lightblue; /*백그라운드가 백그라운드-컬러보다 큰 범위;*/
  text-align: center; /*줄맞춤*/
  line-height: 100px; /*행간, 텍스트의 영역*/
  background-image: url(https://static.coupangcdn.com/ga/cmg_paperboy/image/1740551779232/PC2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*색상 주소 반복 포지션 사이즈 등.. 순서가 있다. >>검색해 보기*/
}

.text {
  display: inline-block; /*텍스트 영역에만 적용!*/
  background: blue;
  color: white;
  font-size: 23px;
  /*패딩이란? 테두리 안쪽에 얼만큼의 공간을 줄 것인지. 한번에 선언할 거면 위에서부터 시계 방향으로 입력. 위위 아래아래 이렇게 두 개로도 설정 가능, 위 좌우 아래 세 개로도 가능*/
  padding: 15px;
  /*마진: 테두리 바깥 쪽으로 얼만큼의 공간을 줄 것인지. 웹 브라우저 기본 값이 설정되어 있을 예정*/
}
